<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.pbreakers.training">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--  -->
        <activity
            android:name=".ViewPagerActivity"
            android:label="ViewPager">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--  -->
        <activity
            android:name=".room.DatabaseActivity"
            android:label="Profile">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--  -->
        <activity
            android:name=".DialogActivity"
            android:label="Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!--  -->
        <activity
            android:name=".DrawerActivity"
            android:label="Drawer"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".MainActivity" /> -->
        </activity>

        <!--  -->
        <activity
            android:name=".room.EcoleActivity"
            android:label="Ecole">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".room.DatabaseActivity" />
        </activity>

        <!---->
        <activity
            android:label="Parent"
            android:name=".room.EnfantActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".room.DatabaseActivity" />
        </activity>

        <!---->
        <activity
            android:label="Enfant"
            android:name=".room.ParentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".room.DatabaseActivity" />
        </activity>
    </application>

</manifest>